.contact-form {
  display: flex;
  padding: 7%;
  justify-content: flex-start;
  align-items: space-between;
  background-color: #fff3e0;
  border: 1px solid #e86521;
  margin: 10% 30%;
  margin-top: 5%;
  font-family: "IBM Plex Serif", serif;
}

.email-link {
  display: flex;
  justify-content: flex-start;
  transition: all ease-in-out 0.5s;
}
.email-link:hover {
  color: #ffffff;
  background-color: #e86521;
}
.mail-image {
  width: 100px;
}
.contact-text {
  padding-left: 10px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
.email-text {
  color: black;
  transition: all ease-in-out 0.5s;
  font-weight: 700;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
.email-text:hover {
  color: #ffffff;
  background-color: #e86521;
}
.dev-icon {
  max-width: 3em;
  margin: 10px;
}
/*===== MEDIA QUERIES ===== */

@media (max-width: 500px) {
  .contact-form {
    flex-wrap: wrap;
    margin: 10% 5% 25% 5%;
  }
}
