.contact__wrapper {
  display: flex;
}
.contact__heading {
  text-align: left;
  margin: 12% 4%;
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  line-height: 5rem;
  font-style: italic;
  font-size: 110px;
  color: #c64401;
}
.contact__form {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  margin: 10%;
  border: 1px solid #c64401;
  font-family: "IBM Plex Serif", serif;
}
input, textarea{
  margin: 20px;
  padding: 10px;
  font-family: "Open Sans", sans-serif;

}
.contact__btn{
  margin: 20px;
}

input{
  padding: 10px;
}
/* .email-link {
  display: flex;
  justify-content: flex-start;
  transition: all ease-in-out 0.5s;
}
.email-link:hover {
  color: #ffffff;
  background-color: #c64401;
}
.mail-image {
  width: 100px;
}
.contact-text {
  padding-left: 10px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}
.email-text {
  color: black;
  transition: all ease-in-out 0.5s;
  font-weight: 700;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}
.email-text:hover {
  color: #ffffff;
  background-color: #c64401;
}
.dev-icon {
  max-width: 3em;
  margin: 10px;
} */
/*===== MEDIA QUERIES ===== */

@media (max-width: 500px) {
  .contact-form {
    flex-wrap: wrap;
    margin: 10% 5% 25% 5%;
  }
}
