.hero__wrapper {
  background-color: #c64401;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-left: 2%;
  height: 90vh;
}
.hero__hello,
.hero__job-title {
  color: #fff3e0;
  font-size: 20px;
  letter-spacing: 0.2em;
  margin-top: 0;
}
h1 {
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  color: #fff3e0;
  margin: 0;
  font-size: 80px;
}
.hero__job-title {
  margin-bottom: 5%;
}

/*===== MEDIA QUERIES ===== */

@media (max-width: 500px) {

  .hero__wrapper {
    height: 85vh;
  }
  .hero__hello,
  .hero__job-title {
    font-size: 18px;
    letter-spacing: 0.02em;
  }
  h1 {
    font-size: 50px;
  }
  
}
