.tech__heading {
  margin: 0 auto;
  text-align: center;
  margin-top: 12.2%;
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 110px;
  color: #c64401;
}
.tech__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10%;
}
