
.project-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    border: 1px solid #e86521;
    box-shadow:5px 0px 10px 0px #ccc0ae;
    z-index: 1;
    width: 40%;
    margin: 50px;
}
.title{
    margin: 30px;
    margin-bottom: 0;
    font-family: 'IBM Plex Serif', serif;
    font-size: 30px;

}
.built-with{
    align-self: flex-end;
    margin-top: -15%;

}

.website-still{
    align-self: center;
    width: 30vw;
    box-shadow: 3px 3px 8px #ccc0ae;

}

.text{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 0px auto;
    padding: 10px;
    width: 20vw;
}



.button-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.lookup{
    margin: 20px 0;
    width: 100px;
}

