.about-section {
  display: flex;
  height: 100vh;
  margin-top: 10%;
  border-top: 0.01em solid #000000;
}

.question-block {
  width: 50%;
  height: 104%;
  display: flex;
  background-color: #e86521;
  border-left: 0.01em solid #000000;
  justify-content: flex-end;
  align-items: center;
}

.question-text {
  text-align: right;
  font-size: 110px;
  padding-right: 25px;
  font-weight: 500;
  font-style: italic;
  color: #fff3e0;
  font-family: "IBM Plex Serif", serif;
}

.about-info {
  background-color: #fff3e0;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.line {
  border-left: 0.01em solid #000000;
  height: 20%;
  position: absolute;
  left: 25%;
  margin-top: 5%;
}

.about-photo {
  width: 20vw;
  height: 35vh;
  border: 30px solid #ccc0ae;
}

.statement {
  width: 90%;
  font-size: 15px;
  border-top: 0.01em solid #000000;
  border-bottom: 0.01em solid #000000;
  padding: 20px 0;
  margin: 0;
  text-align: justify;
}

/*===== MEDIA QUERIES ===== */

@media (max-width: 500px) {
  .about-section {
    flex-direction: column-reverse;
    justify-content: center;
    height: fit-content;
  }

  .question-block {
    width: 100vw;
    height: 50vh;
    justify-content: center;
  }

  .question-text {
    font-size: 70px;
    padding-right: 20px;
  }

  .about-info {
    width: 100vw;
  }

  .statement {
    margin-top: 20%;
    width: 70%;
  }

  .line {
    margin-top: 42%;
    left: 50%;
    height: 15%;
  }

  .about-photo {
    margin-top: 25%;
    width: 50vw;
    height: 30vh;
  }
}
