 .contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 50%;
    background-color: #E7E0CD;
    border: 3px solid  #e86521;
    margin-top: 20%;
  }
 .linked-in{
   max-width: 2em;
   margin: 22px;
   margin-top: 10px;
 }
 .dev-icon{
   max-width: 3em;
   margin: 10px;
 }
  .contact-title{
    font-family: 'Archivo Black', sans-serif;
    color: #EB673D;
    text-align: center;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .mail-link{
   width: 2.5em;
   margin-top: -10px;
  }
  .contact-links{
    margin-top: 1em;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
  }
  .email-link{
    font-weight: 800;
  }
 
 .label{
   margin-bottom: 0;
 }