.contact-form {
  display: flex;
  padding: 7%;
  justify-content: flex-start;
  align-items: space-between;
  background-color: #e7e0cd;
  border: 3px solid #e86521;
  margin: 10% 30%;
  margin-top: 5%;
  font-family: 'IBM Plex Serif', serif;
}

.email-link {
  display: flex;
  justify-content: flex-start;
}
.email-link:hover{
  color: #ffffff;
  background-color: #e86521;
}

.mail-image {
  width: 100px;
}
.contact-text{
  padding-left: 10px;
}
.email-text{
  color: black;
}
.email-text:hover{
  color: #ffffff;
  background-color: #e86521;
}
.dev-icon {
  max-width: 3em;
  margin: 10px;
}
