.project-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
    border-top: 0.01em solid #000000;
}

.work-section{
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 30%;
}

.work-color{
    width: 50vw;
    height: 200vh;
    background-color: #e86521;
    position: absolute;
    border-top: 0.01em solid #000000;
    border-right: 0.01em solid #000000;
}

.app-still{
    width: 25vw;
    height: 60vh;
    box-shadow: 10px 10px 8px grey;
}
.website-still{
    width: 10vw;
    box-shadow: 10px 10px 8px grey;
}
.text{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 0px auto;
    padding: 10px;
    width: 20vw;
}
.title{
    margin: 35px;
    font-family: 'IBM Plex Serif', serif;
    font-size: 30px;
    color: #e86521;
}
.button-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.lookup{
    margin: 20px 0;
    width: 100px;
}
.built-with{
    align-self: center;
}
