.header{
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #fff3e0;
    z-index: 100;
  }
  #home{
    background-color: #fff3e0;
  }
  .dmc{
    font-size: 25px;
    display: flex;
    justify-content: center;
    color: #e86521;
    font-family: 'Archivo Black', sans-serif;
    margin-bottom: 0;
    margin-top: 2em;
  }