*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
.grid-container{
  display: grid;
  grid-template-columns: 100px 1fr 2fr 1fr;
  grid-template-rows: 30px 1fr 1fr 1fr 1fr;
  grid-template-areas:"a a a a a"
                      "c c c c c"
                      "c c c c c"
                      "b b b b b"
                      "b b b b b";
  grid-gap: 0px;
  width: 100vw;
  height: 100vh;
}
header{
  grid-column-start: 4;
}
.direct-links{
  display: flex;
  justify-content: space-around;

  height: 20px;
  grid-column-start: 1;
  margin-top: 10px;
  margin-right: 1px;
  width: 200px;
}
aside{
  grid-area: 'b';
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start:4;
  grid-row-end: 7;
  background-color: #EB673D;
}
.hello{
  grid-area: "d";
  
}
.myname{
  font-style: italic;
  margin: 0;
}
.fullstack{
 height: 20px;
 align: center;
 margin: 0;
 background-color: #E7E0CD;
 padding-bottom: 100px;
}

.dot{
  font-size: 45px;
  color:#EB673D;
}

main{
  grid-area: "c";
  grid-row-start:2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #E7E0CD;
}

@media (max-width: 480px){
  .fullstack{
    color: purple;
    font-size: 20px;
  }
}