*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
.grid-container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 30px 1fr 1fr 2.5fr;

  grid-gap: 0px;
  width: 100vw;
  height: 100vh;
}
header{
  grid-column-start: 4;
}
.direct-links{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  height: 20px;
  grid-column-start: 1;
  margin-top: 50px;
  margin-right: 1px;
  width: 200px;
}
.title{
  grid-column-start:1;
  grid-column-end: 3;
  grid-row-start: 4;
  background-color: #EB673D;
}
main{
  grid-row-start:1;
  grid-row-end: span 2;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #E7E0CD;
}
.hello{
  color: #EB673D;
  font-size: 30px;
  margin: 20px;
}
.kill-me{
  grid-column-start: 1;
  grid-column-end:span 2;
  grid-row-start: 3;
  background-color: #E7E0CD;
}

.myname{
  position: fixed;
  height: 20px;
  text-align: center; 
  padding-top: 70px;
  font-size: 50px;
  margin: 20px;
}

.fullstack{
  color: #000000;
  position: relative;
  height: 20px;
  font-size: 30px;
  text-align: center; 
  left:90px;
  margin: 20px;
  padding-bottom: 100px;

}
.dot{
  font-size: 45px;
  color:#EB673D;
}



@media (max-width: 480px){
  .fullstack{
    color: purple;
    font-size: 20px;
  }
}