
.app-still{
    width: 250px;
}
.website-still{
    width: 400px;
}
.description{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5px;
/*     display: flex;
    margin: 5em 2em; */
}
.text{
    text-align: justify;
    margin: 0px auto;
}