
.description{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;

    margin: 5em 2em;
}

.app-still{
    width: 30vw;
}
.website-still{
    width: 55vw;
}
.website-still-right{
    width: 55vw;
    grid-column-start: 2;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    margin: 0px auto;
}
.text-left{
    grid-row-start: 1;
}
.title{
    margin: 0;
}