
.work{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: .5fr .5fr .5fr;
    grid-gap: 50px;
    margin: 7em 2em;
    margin-bottom: 0;
}
.description{
    grid-row-start: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-title{
    color: #EB673D;
    align-self: flex-start;
}
.description-1{
    grid-row-start: 2;
    height: fit-content;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description-2{
    grid-row-start: 3;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-still{
    width: 40vw;
    box-shadow: 10px 10px 8px grey;
}
.website-still{
    width: 80vw;
    box-shadow: 10px 10px 8px grey;
}
.website-still-right{
    width: 80vw;
    grid-column-start: 2;
    box-shadow: 10px 10px 8px grey;
}
.text{
    grid-column-start: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    margin: 0px auto;
    padding: 10px;
    width: 70vw;
    font-weight: 500;
}
.text-left{
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    margin: 0px auto;
    padding: 10px;
    width: 70vw;
    font-weight: 500;
}
.title{
    margin: 15px;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 30px;
}
.button-container{
    display: flex;
    justify-content: space-around;
}
.button-container-left{
    display: flex;
    justify-content: space-around;
    
}
.lookup{
    margin: 20px 0;
    width: 100px;
}
.built-with{
    align-self: center;
}
.built-with-right{
    align-self: center;
}