.nav {
  position: fixed;
  top: 90%;
  width: 100vw;
  background-color: #fff3e0;
  z-index: 1;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -6px 5px 5px 5px;
  padding: 5px 20px 2em 20px;
}

button {
  background-color: #C64401;
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  border-radius: 3em;
  padding: 0.5em 1.5em;
  border: 3px solid #ccc0ae;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

button:hover {
  background-color: #ffffff;
  color: #C64401;
  ;
}

.connect-icons {
  width: 20%;
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
}

.tag {
  margin: 0 5px;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0.1em;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
  padding: 3px;
}

.tag:hover {
  background-color: #C64401;
  color: #fff3e0;
}


/*===== MEDIA QUERIES ===== */

@media (max-width: 500px) {
  .work-link,
  .resume-link {
    padding: 0.5em 0.5em;
    font-size: 23px;
  }
  .nav-bar {
    padding-left: 3px;
    padding-right: 3px;
  }
}

