nav {
  position: fixed;
  top: 88%;
  width: 100%;
  background-color: #fff3e0;
  z-index: 1;
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2.2%;
}
button {
  font-family: 'Open Sans', sans-serif;
  background-color: #C64401;
  color: #fff3e0;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .2px;
  border-radius: 5em;
  padding: .8em 2em;
  border:none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
button:hover {
  background-color: #ffffff;
  color: #C64401;
}
.nav__icons-wrapper {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav__social-icon {
  padding: 8%;
}

.fa-icon{
  font-size: 45px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: #C64401;
}

.fa-icon:hover{
  background-color: #C64401;
  color: #fff3e0;
}
/*===== MEDIA QUERIES ===== */

@media (max-width: 1024px) {
  .nav__social-icon{
    padding:1.8em;

  }
}
@media (max-width: 500px) {
  .nav__work-btn,
  .nav__resume-btn {
    padding: 0.5em;
    font-size: 20px;
  }
  .nav__wrapper {
    align-items: center;
    padding:4%;
    margin: 0;
  }
  .nav__button-a{
    padding:0;
  }
  .nav__icons-wrapper{
    width: 35%;
  }
  .nav__social-icon{
    padding:0em;
  }
}

@media (max-width: 418px) {
  .nav__wrapper {
    padding:2.4%;
    align-items: flex-start;
  }
  .nav__icons-wrapper{
    padding-bottom: 1em;
  }
}
@media (max-width: 280px) {
  .nav__wrapper {
    padding:1%
  }
  .nav__work-btn,
  .nav__resume-btn {
    padding: 0.5em;
    font-size: 18px;
  }
}